body {
		font-family: Futura; Helvetica; sans-serif;
		background-color: #AEDFE6; 
}
.navbar {
	height: 100px;
	margin-bottom: 0;
}
.navbar-brand {
	padding: 8px 15px;
}
.collapse {
	padding-top: 21px;
	padding-left: 0;
	padding-right: 0;
}
.navbar-toggle {
	margin-top: 28px;
}
h1 {
		text-align: left;
		font-size: 40px;
		float: left;

}
ul li{
		font-size: 30px;
		list-style-type: none;
    	margin: 0;
		display: inline;

}
.nav > li > a:hover,
.nav> li? a:focus {
	color: #ffffff;
}
/*img {
	width: 80px;
	height: 90px;
}*/
#text {
	text-align: left;
}
hr {
	width: 80%;
	height: 5px;
	background-color: #DD3C2E;
	color: #DD3C2E;
	border: 0;
}