body {
		font-family: Futura; Helvetica; sans-serif;
		background-color: #AEDBEA; 
}
.navbar {
	height: 90px;
	margin-bottom: 0;
}
.navbar-brand {
	padding: 15px 85px;
	/*position: fixed;*/
}
.collapse {
	padding-top: 21px;
	padding-left: 0;
	padding-right: 40px;
}
.navbar-toggle {
	margin-top: 28px;
}
.navbar-default .navbar-nav>li>a {
  color: #26286D;
 }
h1 {
		text-align: left;
		font-size: 40px;
		float: left;

}
ul li{
		font-size: 30px;
		list-style-type: none;
    	margin: 0;
		display: inline;

}
ul.nav a:hover,
ul.nav a:focus { color: #DD3C2E !important; }

/*img {
	width: 80px;
	height: 90px;
}*/
#text {
	text-align: left;
}
hr {
	width: 85%;
	height: 5px;
	background-color: #DD3C2E;
	color: #DD3C2E;
	border: 0;
	margin-top: 0px;
}